%div{:id => "#{dom_id friend}"}
  %p
    %strong First name:
    = friend.first_name
  %p
    %strong Last name:
    = friend.last_name
  %p
    %strong Email:
    = friend.email
  %p
    %strong Phone:
    = friend.phone
  %p
    %strong Twitter:
    = friend.twitter
