<h2 class="fw-normal font-monospace">Friends List</h2>
<br>
<% if @friends.present? %>
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
         <th>Name</th>
         <th>Email</th>
         <th>Phone</th>
         <th>Twitter</th>
         <th>Actions</th>
       </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= link_to "#{friend.first_name} #{friend.last_name}", friend_path(friend), class: 'text-decoration-none' %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <td><%= link_to "Delete", friend_path(friend), class: 'btn btn-outline-danger btn-sm', method: :delete, data: { turbo_method: :delete } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= link_to 'Add Friend', new_friend_path, class: 'btn btn-info text-white' %>